[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Barcode Printer
Exec=/home/pi/barcode_project/launch.sh
Path=/home/pi/barcode_project
Terminal=false
