[Desktop Entry]
Type=Application
Name=Barcode Printer
Exec=/placeholder/launch.sh
Path=/placeholder
Icon=utilities-terminal
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
